html {
    background-color: #000000;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: rgb(0, 230, 0);
    letter-spacing: 0.4em;
    text-align: center;
}
body {
    background-color: #000000;
}