body {
    background-image: url(../image/hollywood.jpg);
}

h1 {
    text-align: center;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 2.1em;
}

#text {
	color: #ffffff;
	text-align: center;
	font-size: 2.7em;
}
#quiz {
	margin: auto;
	display: block;
	width: 80%;
	display: none;
}

#quizon {
	display: block;
	margin: auto;
	font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    display: block;
    text-align: center;
    outline: none;
    border-style: none;
    border-radius: 50px;
    background-color: aqua;
    width: 180px;
    height: 60px;

}

#quizon:active {
    background-color: aqua;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#quiz-title {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7em;
    padding: 2%;
}

#question {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

.option {
	margin: auto;
    display: block;
    border-style: none;
    background-color: #ffffff;
    outline: none;
    border-radius: 15px;
    width: 450px;
    height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.option:hover {
	background: #08038C;
	color: #f6f6f6;	
}

#next {
	float: right;
	font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    display: block;
    text-align: center;
    outline: none;
    border-style: none;
    border-radius: 50px;
    background-color: aqua;
    width: 180px;
    height: 60px;
}

#next:hover {
	background-color: aqua;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#result {
	font-size:100px;
	text-align: center;
	height: auto;
	width: 70%;
	position: absolute;
	left:10%;
	top: 30%;
	transform: translateX(-50) translateY(-50);
	padding: 20px;
}

#ans {
	float: left;
	font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    display: block;
    text-align: center;
    outline: none;
    border-style: none;
    border-radius: 50px;
    background-color: aqua;
    width: 180px;
    height: 60px;
}

#ans:hover{
	background-color: aqua;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#progress {
	float: left;
	font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    display: block;
    text-align: center;
    outline: none;
    border-style: none;
    border-radius: 50px;
    background-color: aqua;
    width: 180px;
    height: 60px;
}

#progress:hover {
	background-color: aqua;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}