body {
    background-image: url(../images/hollywood.jpg);
}

h1 { 
    text-align: center;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 2.1em;
}

#quiz {
    margin: auto;
    width: 80%;
    height: 80vh;
}

#quote {
    background-color: #aa80ff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

#option1 {
    margin: auto;
    display: block;
    border-style: none;
    background-color: #ffffff;
    outline: none;
    border-radius: 15px;
    width: 450px;
    height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#option2 {
    margin: auto;
    display: block;
    border-style: none;
    background-color: #ffffff;
    outline: none;
    border-radius: 15px;
    width: 450px;
    height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#quiz-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7em;
    padding: 2%;
}

#option {
    width: 80px;
    height: 50px;
}

#quizon {
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    display: block;
    text-align: center;
    outline: none;
    border-style: none;
    border-radius: 50px;
    background-color: aqua;
    width: 200px;
    height: 80px;
}

#quizon:active {
    background-color: aqua;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.quiz-content {
    display: none;
}