body {
    margin: 0;
}

.container {
    background-color: #E84248;
    height: 793px;
    width: 100%;
    background-image: url("../assets/container-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 76px;
}

#container-h1 {
    width: 700px;
    text-align: center;
    position: absolute;
    color: #E84248;
    font-size: 70px;
    font-family: 'Arial Header';
    font-weight: bold;
}

#brain { 
    margin-left: 38%;
    margin-right: auto;
    height: 50%;
    margin-top: 150px;
}

#brain-banner {
    margin: auto;
    display: block;
    margin-top: -60px;
}

#brain-bar {
    margin: auto;
    display: block;
}



/*.div-bottom {
    width: 100%;
}*/



