html {
  margin: auto;
}

body {
    background-image: url(../image/rainbow.jpg); 
}

.quizbody {
    padding: 1%;
    border-radius: 30px;
    height: 87vh;
    margin: auto;
    display: block;
    width: 60%;
    background-color: #a6a6a6;
    opacity: 0.9;
    position: relative;
}

h1#text {
    text-align: center;
    color: #000000;
    font-family: palatino Header;
    font-size: 3.5em;
}

#quiz {
	margin: auto;
	display: block;
}

#quiz-title {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4em;
    color: #000000;
    padding: 2%;
}

#question {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.9em;
    color: #000000;
}

.option {
	margin: auto;
    display: block;
    border-style: none;
    background-color: #ffffff;
    opacity: 1;
    outline: none;
    font-size: 1.3em;
    border-radius: 15px;
    width: 300px;
    font-family: Bookman body copy;
}

.option:hover {
	background: #99ccff;
}

#next {
    color: #ffffff;
	float: right;
	font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    display: block;
    text-align: center;
    outline: none;
    border-style: none;
    border-radius: 50px;
    background-color: #40bf60;
    width: 180px;
    height: 60px;
}

#next:hover {
	background-color: #00ff40;
	box-shadow: 0 5px #000000;
	transform: translateY(4px);
}

#result {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30px;
    color: #999900;
    font-size: 5.3em;
	height: auto;
    position: absolute;
	padding: 20px;
}

#answer {
    color: #ffffff;
	float: left;
	font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    display: block;
    text-align: center;
    outline: none;
    border-style: none;
    border-radius: 50px;
    background-color: #40bf60;
    width: 180px;
    height: 60px;
}

#answer:hover {
	background-color: #00ff40;
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
}

#option1 {
    margin-left: 50px;
}

#option2 {
    margin-left: 50px;
}

#progressBar {
    width: 100%;
    height: 30px;
    background-color: #ddd;
  }
  
#bar {
    height: 30px;
    background-color: #4CAF50;
  }

/*.pro {
    width: 100%;
}

.progressbar {
counter-reset: step;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 10%;
    position: relative;
    text-align: center;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #ffffff;
}

.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;  
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #008000;
}

.progressbar li.active:before {
    border-color: #008000;
}

.progressbar li.active + li:after {
    background-color: #008000;
}*/