$image: "/image/hollywood.jpg";
$h1color: #b3d9ff;
$quizcolor: #cce6ff;
$mainfont: "Poppins", sans-serif;
$quizfont: "'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif";
$buttoncolor: aqua;

html {
    margin: 0 auto;
    background: $image;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    border-top: none;
    border-bottom: none;
}

#text {
    text-align: center;
    color: $h1color;
    font-family: $mainfont;
    font-size: 2.em;
}

#quiz {
    margin: auto;
    display: block;
    width: 80%;
    display: none;
    #title {
        font-family: $quizfont;
        font-size: 1.7em;
        color: $quizcolor;
        padding: 2%;
    }
}

#question {
    text-align: center;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.9em;
    color: #cce6ff;
}

.option {
    margin:auto;
    display: block;
    border-style: none;
    background-color: #ffffff;
    outline: none;
    font-size: 1.2em;
    border-radius: 15px;
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    &:hover{
        background: #99ccff;
    }
}

#next {
    float:right;
    font-size: 1.2em;
    font-family: $quizfont;
    margin: auto;
    display: block;
    outline: none;
    border-style: none;
    border-radius: 50px;
    background-color: $buttoncolor;
    width: 180px;
    height: 60px;
    &:hover{
        background-color: $buttoncolor;
        box-shadow: 0 5px #000000;
        transform: translateY(4px);
    }
}

#result {
    margin-left: 30px;
    color: #ccddff;
    font-size: 5.3em;
    height: auto;
    position: absolute;
    padding: 20px;
}

#answer {
    float: left;
    font-size: 1.2em;
    font-family: $quizfont;
    margin: auto;
    display: block;
    text-align: center;
    outline: none;
    border-style: none;
    border-radius: 50px;
    background-color: $buttoncolor;
    width: 180px;
    height: 60px;
    &:hover{
        background-color: $buttoncolor;
        box-shadow: 0 5px #000000;
        transform: translate(4px);
    }
}

#option1 {
    margin-left: 50px;
}

#option2 {
    margin-left: 50px;
}

#progress {
    color: #000000;
    border-radius: 40px;
    font-size: 2.3em;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #b3ccff;
    vertical-align: 40px;
    &:hover{
        cursor: pointer;
    }
}

